body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-box{
    background-color: black;
    height: 100vh;
    width: 100%;
  
    padding: 0.75rem;
   
    
}

.sidebar{
    color: white;
    background-color: #121212;
    
}
.main-content{
    
    background-color: #121212;
}
.music-play-bar{
    color: white;
    background-color: #000;
}


.main-box{
    display: flex;
}

.sidebar{
    width: 22rem;
    background-color: black;
    margin-right: 1rem;
}
.main-content{
    flex: 1;
}

.music-play-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidebar-nav-option{
    background-color: #121212;
    margin-top: 0.75rem;
    border-radius: 0.75rem;
    height: 8.5rem;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.99;

}
a{
    text-decoration: none;
    color: white;
}

.home{
    margin-top: 0.45rem;
    padding-top:1rem;
    padding-left: 1.25rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.5);
    
}
.home i{
    font-size: 1.35rem;
    margin-right: 1.25rem;
}
.home a{
    font-size: 1.25rem;
}

.search{
    padding-left: 1.25rem;
    margin-top: 3rem;
 
    opacity: 0.7;

}
.search i{
    font-size: 1.35rem;
    margin-right: 1.25rem;
    
}


.search a{
    font-size:1.27rem ;
}
.search:hover{
    opacity: 1;
}

.library{
    background-color: #121212;
    height: 100vh;
    margin-top: 0.45rem;
    border-radius:0.75rem;
   
    
}

.lib-section{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-radius: 0.75rem;
    
}
.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 img{
    margin-left: 1rem;
    margin-right:1rem;
    width: 1.75rem;
    height: 1.75rem;

}

.section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-icon{
    margin-right: 1rem;
    font-size: 1.25rem;
}

.lib-icon{
    opacity: 0.25;
    cursor:pointer;
}

.lib-icon:hover{
    opacity: 1;
}

.banner{
    margin-top: 1.5rem;
    background-color: #232323;
    border-radius: 1rem;
    /* height: 10rem; */
    width: 20rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    
   
   
}

.banner:hover{
    box-shadow: 0 0 20px gray;
    .banner-text-2{
        opacity: 1;
        
    }
    
}

.banner:hover{
    box-shadow: 0 0 20px gray;
    transform: scaleX(1.08) scaleY(1.08);
   
    
}


.banner-text-1{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 650;
    padding-top:0.75rem;
    padding-bottom: 0.30;
}
.banner-text-2{
    font-size: 0.85rem;
    margin-left:1.25rem ;
    opacity: 0.75;
    margin-bottom: 1rem;
}

.badge{
    border-radius: 2rem;
    border: none;
    height: 1.8rem;
    width: fit-content;
    margin-left: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
    background-color: white;
}
.badge a{
    color: black;
    font-size: 1rem;
    font-weight: 600;

}

.main-content{
    overflow: auto;
    width: 100%;
}
.sticky-nav{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* z-index: 10; */

}

.sticky-bages{
    margin-right: 2rem;
}

.dark-badge{
    color: white;
    background-color: #121212;
}

.user-icon{
    color: white;
    margin-top: 1.35rem;
    font-size: 1.25rem;
    margin-right:1.75rem;
}

.sticky-nav-option{
    margin-top: 1.25rem;

}
.backward-icon{
    margin-right: 1.20rem;
    opacity: 0.6;
    cursor: pointer;
}
.forward-icon{
    opacity: 0.6;
    cursor: pointer;
}
.sticky-nav-option:hover{
    .backward-icon:hover{
        opacity: 1;
        text-shadow: 0 0 10px whitesmoke;
    }
}

.sticky-nav-option:hover{
    .forward-icon:hover{
        opacity: 1;
        text-shadow: 0 0 10px whitesmoke;
    }
}

.card{
    background-color: #232323;
    color: white;
    width: fit-content;
    padding: 0.75rem;
    border-radius: 0.75rem;
    width:11rem;
    margin-left: 2rem;
    margin-bottom:2rem;
    transition: all 0.1s ease-in-out 0s;

}
.card img{
    border-radius: 1.25rem;
    width: 100%;
    
}

.content-title{
    color: white;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.card-info{
    font-size: 0.85rem;
    opacity: 0.55;
}

.content:hover{
    .card:hover{
        .card-info{
            opacity: 1;
        }
    }
}
.content:hover{
    .card:hover{
        cursor: pointer;
    }
}
.content:hover{
    .card:hover{
        box-shadow: 0 0 20px gray;
        transform: scaleX(1.05) scaleY(1.05)  ;
    }

}

.fotter{
    width: 100%;
    height: 18.75rem;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    
 
 
}

.line{
    width:100% ;
    height: 7.55rem;
    

}

.music-play-bar{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album{
    height: 100%;
    width: 25%;
}

.player{
    height: 100%;
    width: 60%;
    z-index: 20;
    
}
.controls{
    height: 100%;
    width: 20%;
}




.player-icon-section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 4rem;
    padding-left: 4rem;

    margin-right: 4rem;
    padding-right: 4rem;   */
       
    
}





.player-icon{
    width: 1rem;
    height: 1rem;
    margin-right: 3.5rem;
    /* margin-bottom: 1rem; */
    padding-top: 0.75rem;
    opacity: 0.78; 
     

}
.play-bar-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:4rem ;
    padding-top: 0.25rem;

}
    



.progress-bar{
    appearance: none;
    width:70%;
    /* margin-bottom: 1rem;
    margin-top: 1rem; */
    cursor: pointer;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: transparent;
    height: 0.15rem;
    background-color: #ddd;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    width: 0.85rem;
    height: 0.85rem;
    background-color:#1bd760 ;
    border-radius: 50%;
    /* margin-top: ; */
    margin-top: -0.35rem;
}

.music-play-bar:hover{
    .player:hover{
        .player-icon-section:hover{
            .music-player:hover{
                opacity: 1;
                cursor: pointer;
                width: 3rem;
                height: 3rem;
                
            }
        }
    }
}

.music-play-bar:hover{
    .player:hover{
        .player-icon-section:hover{
            .player-icon:hover{
                opacity: 1;
                cursor: pointer;
                
            }
        }
    }
}

.album{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 1rem;
}


.album-card{
    width: 3.55rem;
    height: 3.55rem;
}

.album-card img{
    width: 100%;
    border-radius: 1rem;
}

.album-info{
    display: flex;
    flex-direction: column;
}

.album-card-title{
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    opacity: 0.75;
}
.album-card-info{
    opacity: 0.45;
    
}
.album:hover{
    .album-info:hover{
        .album-card-info:hover{
            opacity: 1;
            text-shadow: 0 0 20px gray;
        }
    }
}

.album-card{
    border-radius: 1rem;
    margin-left: 5rem;
    transition: all 0.2s ease-in-out 0s;
}

.album:hover{
    .album-card:hover{
        transform: scaleX(1.07) scaleY(1.079);
        box-shadow: 0 0 25px gray;
    }
}








