body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    margin: 0rem;
    background-color:black;
    padding: 0rem;
}
.main{
    height: 100vh;
    width: 100%;
    padding: 0.5rem;
}

.main{
    box-sizing: border-box;
    display: flex;
}
.first-part-of-slidebar{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.75rem;
    height: 8.5rem;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.99;
}

a{
    color: white;
    text-decoration: none;

}

.option1{
    padding-top: 1rem;
    margin-top: 0.45rem;
    padding-left: 1.25rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.5);;
}
.option1 , .option2 a{
    font-size: 1.25rem;
}

.option2{
    height: 2rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    display: flex;
}


.first-part-of-slidebar .option1, .option2 i{
    font-size: 1.25rem;
    margin-right: 1.25rem;

}

.second-part-of-slidebar{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.75rem;
}

.library-option{
    width: auto;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5rem;

}

.library{
    display: flex;
    padding: 0.5rem 0.5rem;
    opacity: 0.7;
}
.library a{
    padding-left: 1rem;
}

.library-icons{
    display: flex;
    padding: 0.5rem 0.75rem;
}

.library:hover{
    opacity: 1;
}


.library-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.library-icons i{
    opacity: 0.7;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.library-icons i:hover{
    opacity: 1;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-option{
    background-color: #232323;
    height: 8rem;
    border-radius: 1rem;
    margin: 0.75rem 0 0.75rem 0;
    padding: 0.5rem 0.75rem;
    height: 10rem;

}

.p1{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-top: 0.75rem;
    padding-left: 0.5rem;
    margin-bottom: 0.75rem;
}

.p2{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    opacity: 0.7;
    margin-right: 0.5rem;
    margin-top: 0.75rem;
    padding-left: 0.5rem;
    margin-bottom: 0.625rem;
}

.badge{
    background-color: white;
    border: none;
    border-radius: 2rem;
    width: fit-content;
    height: 2rem;
    padding: 0.75rem 0.75rem;
    margin-right: 0.5rem;
    margin-top: 0.75rem;
    font-weight: 550;
}

.main-content{
    color: white;
    background-color:#121212;
    flex: 1;
       margin-left: 0.5rem;
       border-radius: 1rem;
       overflow: auto;
}

.sticky-nav{
    border-radius: 1rem;
    padding: 0.75rem 0 1rem;
    margin-left: 0.75rem;
    position: sticky;
    top: 0;
}

.navigation-one{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-two{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
     display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-player{
    background-color: #232323;
    position:fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 4rem;
    /* overflow: auto; */
}

.nav-badge-one{
    padding: 0.25rem 1rem;
    margin: 0.5rem 1.5rem 0 0;

}

.nav-badge-two{
    background-color: #000;
    color: white;
    padding: 0.25rem 1rem;
    margin: 0.5rem 1.5rem 0 0;

}

.user-icon{
    width: 1rem;
    height: 1rem;
    margin-right: 0.875rem;
}

@media(max-width: 1000px){
    .hide{
        display: none;
    }
}

.main-cards{
    display: flex;
    flex-wrap: wrap;
}

.recently-played-card{
    background-color: #232323;
    width: 11rem;
    border: 2px solid black;
}
.recently-played-card{
    border-radius: 1.5rem;
    margin-left: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.recently-played-card img{
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 1rem;
}

.footer{
    height: 8rem;
}
.poster{
 display: flex;
}
.poster{
    margin-top: 0.75rem;
    display: flex;
}
.image{
    width: 4rem;
    height: 100%;
}
.text{
    padding-left: 0.5rem;
    color: white;
}
.main-music{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.img2{
    width: 1.5rem;
    height: 2rem;
}

.img-icons{
    margin-right: 1rem;
    padding: 0.5rem;
}

.img1{
    color: black;
}

.music-player .player{
    width: 40%;
}

#initial-time{
    color: white;
}

#end-time{
    color: white;
}

.player-icon{
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}
.image-player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-controll{
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress{
    margin-top: 0.85rem;
}

.image-player{
    padding: 0.75rem 0 0 0;
}

#progress-range{
    width: 50%;
    appearance: none;
    background-color:transparent;
    cursor: pointer;
    
}

#progress-range::-webkit-slider-runnable-track{
    background-color: white;
    height: 0.35rem;
    border-radius: 6.25rem;
}

#progress-range::-webkit-slider-thumb{
    appearance: none;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    margin-top: -2px;
    background-color: green;
}

.controlls{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#icon1{
    font-size: 1;
    margin-right: 0.75rem;
}

#icon2{
    font-size: 1rem;
    margin-right: 0.75rem;
}

#icon3{
    font-size: 1rem;
    margin-right: 0.75rem;
}

#icon4{
    font-size: 1rem;
    margin-right: 1rem;
}

@media(max-width: 1000px){
    .main-music, .controlls{
        display: none;
    }
}


.Slide-bar{

    color: white;
    background-color: #000;
    width: 22rem;
    height: 100vh;
    border-radius: 1rem;
    transition: transform 0.3s ease;

}

@media(max-width: 760px){
    .Slide-bar{
        position: fixed;
        height: 100%;
        width: 16rem;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        z-index: 1000;
    }

    .Slide-bar.open{
        transform: translateX(0);
    }
#humbergun_id {
        display: inline-block;
        position: fixed;
        top: 8px;
        left: 8px;
        z-index: 1100;
    }
#closebtn_id {
        display: none;
        position: fixed;
        top: 8px;
        left: 250px;
        z-index: 1100;
    }

    .player{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }


}

@media (min-width: 761px) {
    #humbergun_id,
    #closebtn_id {
        display: none;
    }
}

.card-option:hover{
    box-shadow: 1px 1.5px 0.5px rgb(59, 59, 59);
}

.first-part-of-slidebar:hover{
     box-shadow: 1px 1.5px 0.5px rgb(59, 59, 59);
}

.recently-played-card:hover{
transform: scale(0.8, 0.8);
transition: transform 0.3s ease;
box-shadow: 1px 1.5px 0.5px rgb(59, 59, 59);
}

.h2-recent-played{
    color: transparent;
    background-clip: text;
    background-image: url(https://wallpapers.com/images/hd/spotify-background-6zo7fp83i9u8n9bm.jpg);
    font-weight: bold;
}

.first{
    margin-top: 50px;
}
